
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
}
/* Add this CSS class to hide elements initially */
.hidden {
    display: none;
  }


form {
    margin-bottom: 20px;
}

label, input, button {
    margin: 10px;
}

input[type="file"] {
    border: 2px solid purple;
    padding: 8px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

button {
    border: none;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b0a5c;
}

table {
    width: 95%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid purple;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3b0a5c;
}

img{
    width: 100vw;
    height: 100vh;
}
a {
    color: white;
}

/* Link hover styles */
a:hover,
a:active {
    text-decoration: underline;
    color: yellow;
    transition: 600ms;
}